[Desktop Entry]
Encoding=UTF-8
Name=Link to 128x64 OLED Display Code for Arduino with Simulation
Type=Link
URL=https://wokwi.com/playground/ssd1306
Icon=text-html
